<!--  <div class="container">
  <div class= "a">
    <div class="categories_title">
      <u>BOOKS</u>
    </div>
    <div class="free_books">
      <div class="book_info">
        <% @books.each do |book| %>
          <div class="book_image">
            <div class="image_source">
              <%= image_tag("ruby.jpg") %>
            </div>
          </div>
          <div class="book_details">
            <div class="title_n_option">
              <div class="title">
                <%= book.title %>
              </div>
              <div class="options">
                <%= link_to "Show", book, class: "btn btn-outline-dark" %>
              </div>
            </div>
            <div class="book_author">
              <%= book.user.name %>
            </div>
            <div class="about">
              <%= book.about %>
            </div>
            <br>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div> -->
  <div class="container">
    <div class="search-page">
    <br>
    <h1> Books</h1>
    <% @books.each do |book| %>
    <div class= "cover-detail">
      <div class="cover-image">
        <%= image_tag book.coverimage %>
      </div>
      <div class="book-detail">
        <div class="book-title">
            <%= link_to book.title, book %>
        </div>
        <div class="book-author">
          <%= book.user.name %>
        </div>
        <div class="about-book">
            <%= book.about.truncate(400) %>
        </div>
      </div>
    </div>
    <% if current_user == book.user %>
    <% link_to "Destroy", book, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
    <% end %>
    <% end %>
    </div>
  </div>